@font-face {
  font-family: "zabars";
  src: url("./fonts/Zabars.ttf") format("truetype");
}

.d_none {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  font-size: 32px;
  background-image: url("img/desert.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.start-screen {
  display: flex !important;
  position: absolute;
  z-index: 997;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: baseline;
  padding-top: 2%;
  box-sizing: border-box;
  justify-content: space-around;
  z-index: 999;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 50%;
    border: none;
    width: 90px;
    height: 90px;
    img {
      width: 100%;
    }
  }
}

.settings {
  position: absolute;
  z-index: 1000;
  background-color: rgba(206, 188, 88, 0.85);
  width: 200px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 10px 0;
  border-radius: 20px;
  button {
    display: flex;
    width: 40px;
    background-color: transparent;
    border-radius: 5px;
    img {
      width: 100%;
    }
  }
}

.control {
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: space-around;
  background-color: rgba(206, 188, 88, 0.85);
}
.interactions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 25%;
  img {
    object-fit: contain;
    height: 80%;
    width: 100%;
  }
}

.game-ending {
  position: absolute;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: rgba(78, 76, 76, 0.301);
  img {
    width: 100%;
    height: 100%;
  }
  button {
    position: absolute;
    bottom: 40px;
    display: flex;
    width: 50px;
    background-color: rgba(110, 116, 102, 0.4);
    img {
      width: 100%;
    }
  }
}

#fullscreen {
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 10001;
  bottom: 2%;
  right: 1%;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgba(194, 199, 194, 0.575);
  img {
    width: 100%;
  }
}

button {
  display: none;
  cursor: pointer;
}

#gameScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

canvas {
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 770px), (max-height: 640px) {
  #gameScreen {
    width: 100%;
  }
  canvas {
    width: 100%;
    height: 100vh;
    object-fit: contain;
  }
  h1 {
    display: none;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    img {
      width: 100%;
    }
  }

  #movement {
    position: absolute;
    display: flex;
    gap: 20px;
    left: 1%;
    bottom: 2%;
    img {
      width: 60px;
      height: 60px;
    }
  }

  #action {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 1%;
    bottom: 2%;
  }
  #space {
    img {
      width: 60px;
      height: 60px;
    }
  }

  #fullscreen {
    top: 5%;
    height: 60px;
    width: 60px;
    bottom: unset;
  }
  #reload {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: rgba(194, 199, 194, 0.575);
  }
}

@media screen and (max-height: 400px) {
  button {
    height: 40px;
    width: 40px;
  }

  #movement {
    img {
      width: 40px;
      height: 40px;
    }
  }
  #space {
    img {
      width: 40px;
      height: 40px;
    }
  }
  #fullscreen {
    height: 40px;
    width: 40px;
  }
}
